p{
    position: static;
}

div{
    display: inline-block;
    width: 200px;
    height: 200px;
    background-color: aqua;
    border: 1px solid black;
}



#box3{
    position: relative;
    left: 15px;
    top: 100px;

}

#box1{
    position: fixed;
}

.wrapper{
    height: 2000px;
    width: 100vw;
    background-color: yellow;
}

#box2{
    position: absolute;
    left: 15px;
    top: 100px;

}

#box4{
    position: sticky;
    top: 0px;
    
}
